/* Paleta de cores: */

:root {
  --med-first: #23408e;
  --med-second: #cccccc;
  --med-third: #ed1b24;
  --med-fourth: #385399;
}

.bg-first-color{
  background-color: var(--med-first);
}

.bg-second-color{
  background-color: var(--med-second);
}

.bg-third-color{
  background-color: var(--med-third);
}

.bg-fourth-color{
  background-color: var(--med-fourth);
}

body {
  padding-top: 3rem;
  padding-bottom: 3rem;
  background-color: var(--med-second);
  background-repeat: repeat;
}
