/* Paleta de cores: */

:root {
  --med-first: #b6ffff;
  --med-second: #63f4f4;
  --med-third: #fc5557;
  --med-fourth: #319292;
}

.bg-first-color{
  background-color: var(--med-first);
}

.bg-second-color{
  background-color: var(--med-second);
}

.bg-third-color{
  background-color: var(--med-third);
}

.bg-fourth-color{
  background-color: var(--med-fourth);
}

body {
  padding-top: 3rem;
  padding-bottom: 3rem;
  background-repeat: repeat;
}


.nav-link {
  color: var(--med-fourth);
}

.nav-link {
  color: var(--med-fourth) !important;
}

.btn-primary {
  background-color: var(--med-fourth) !important;
  border-color: var(--med-fourth) !important;
}

.btn-secundary {
  background-color: white;
  border-color: gray;
}

.btn-warning {
  background-color: var(--med-third);
  border-color: var(--med-third);
}